/*$brand-primary: darken(#428bca, 20%);
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import '~bootstrap-sass/assets/stylesheets/bootstrap';*/
body{
  margin: 0;
}
*{
    font-family: Helvetica, sans-serif;
}
h1{
    margin-left: 20px;
}
.menu{
    //background-color: #f2f2f2;
    background-color: #000;
}
#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
li.nav{
    float: left;
}
  li.nav a.nav, .dropbtn{
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    color: white;
}
  li.nav a.nav:hover, .dropdown:hover .dropbtn{
    background-color: #ffac00;
      color: #000;
}
.dropdown-content{
    position: absolute;
    display: none;
    min-width: 100px;
    //background-color: #f4eff0;
    background-color: #1a1a1a;
    box-shadow: -8px 8px 16px 0 rgba(0,0,0,0.2),8px 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 999;
}
.dropdown-content > a{
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content > a:hover{
    //background-color: lightseagreen;
    background-color: #e6c300;
    color: #000;
}
.dropdown:hover .dropdown-content{
    display: block;
}
/*FORM*/
form{
    //margin-top: 20px ;
    //padding-bottom: 30px;
}
form select, form input{
  width: 200px;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 0.5px solid #ccc;
  min-width: 160px;
  box-sizing: border-box;
  border-radius:3px;
}
form select:focus, form input:focus{
  border: 1px solid #660066;
}
form button[type=submit] {
  width: 200px;
  background-color: white;
  border-radius:3px;
  border: 1px solid black;
  color: black;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 110%;
}
form button[type=submit]:hover {
  background-color: #660066;
  border: 1px solid #660066;
  box-shadow: 0 0 5px #b1aeae;
  color: white
}
/*.edit button[type=submit]{
  position: relative;
}*/
form > div{
  width: 200px;
  margin: auto;
}
div label {
  text-align: left;
  display: block;
}

.btn{
  min-width: 100px;
  background-color: whitesmoke;
  border: 1px solid black;
  color: black;
  padding: 4px 7px;
  cursor: pointer;
  font-size: 110%;
  margin-left: 20px;
}
.btn:hover{
  background-color: dimgrey;
  box-shadow: 0 0 9px #ccc;
  color: white;
}
.del{
  border: 1px solid #b2180e;
}
.del:hover{
  background-color: #b2180e;
  color: white;
}
.upd{
  border: 1px solid darkblue;
}
.upd:hover{
  background-color: #0078d7;
}
.add{
  border: 1px solid green;
}
.add:hover{
  background-color: green;
}

.items{
  border-collapse: collapse;
  width: 100%;
}

.items th,.items td {
  margin-left: 20px;
  text-align: left;
  padding: 8px 8px 8px 30px;
}
.items tr:nth-child(even) {
  background-color: #f2f2f2;
}
.btnTd{
  height: auto;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}
.orte{
  width: 100%;
}
.message{
  text-align: center;
  color: black;
}
.success{
  background-color: #4BB543;
}
.error{
  background-color: darkred;
  color: white;
}

/*MODAL BOX*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: auto; /* Enable scroll if needed */

}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  text-align: center;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #660066;
  color: white;
}

.modal-body {
  padding: 20px 0 30px;
}

.modal-footer {
  padding: 2px 160px;
  background-color: #5cb85c;
  color: white;
}

/*Pagination*/

.pagination{
  list-style-type: none;
  margin: 20px;
}
.pagination > a{
  text-align: center;
  padding: 6px 10px;
  display: inline;
  text-decoration: none;
  color: #000;
  font-size: 17px;
}
.pagination > a:hover{
  background-color: #f2f2f2;
}
.active{
  background-color: #e6e6e6;
}
//Home
.startBox{
  position: relative;
  min-width: 13%;
  min-height: 100px;
  max-width: 240px;
  margin: 0 0 40px 3%;
  float: left;
  background-color: #e6e6e6;
}
.text {
  text-align: center;
  vertical-align: middle;
  line-height: 65px;
  font-size: 20px;
  color: #000;
}
.startBox:hover{
  background-color: slategray;
  box-shadow: -8px 8px 16px 0 rgba(0,0,0,0.2),8px 8px 16px 0 rgba(0,0,0,0.2);
}
.startBox:hover p{
  //text-shadow: 0 0 30px white;
}
#sunset{
  width: 100%;
  margin-bottom: 40px;
}
//Timetracker
.content{
  margin: 0;
  padding: 0;
}
.timetrackerContent{
  position: fixed;
  margin: 0;
  padding: 0;
  background: #d9d9d9;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
}
.formBox{
  margin: 20px auto;

  //box-shadow: inset 0 0 10px grey;
  //box-shadow: 0 0 15px #ccc;

  width: 200px;
}
.formBox > form > div{
  width: auto;
  margin: auto;
}
#timeForm > label{
  text-align: left;
  display: inline;
}
.timetracker, .stopFormBox{
  padding: 40px 200px;
  border-radius: 20px;
  background: whitesmoke;
}
.timetracker > form button[type=submit] {
  width: 200px;
  background-color: white;

  color: black;
  padding: 8px 19px;
  font-size: 110%;
}
.timetracker > form button[type=submit]:hover {
  background-color:  #6e6666;
  border: 1px solid #6e6666;
  box-shadow: 0 0 5px #cccccc;
  color: white
}
.plus{
  top: 5px;
  width: 25px;
  left: 10px;
  position: relative;
}
.plus:hover{
  border-radius: 25px;
  background-color: #99ff99;
  cursor: pointer;
}
/*STOP FORM*/
.stopFormBox{
  display: table;
  width: auto;
  text-align: center;
  max-width: 80%;
}
.stopFormBox > table{
  border-spacing: 10px;
}
#startInfos{
  text-align: left;
}
#startInfos td{
  padding-left:  20px;
  color: #cc0000;
}
.stopBtn{
  width: 170px;
  height: 70px;
  margin-top:20px;
  border-radius: 5px;
}
/*Loader*/
.loadingAnimation{
  height: 300px;
  width: 300px;
  margin: auto;
}
.squares{
  height: 0px;
  width: 0px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  position: relative;
}
.squares span{
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  //border: 5px red solid;
  background-color: #d9d9d9;
  box-shadow: 0 0 15px black;
}
.squares span:nth-child(1){
  animation: s5animation1 2.5s ease-in-out infinite;
}
.squares span:nth-child(2){
  animation: s5animation2 2.5s ease-in-out infinite;
}
.squares span:nth-child(3){
  animation: s5animation3 2.5s ease-in-out infinite;
}
.squares span:nth-child(4){
  animation: s5animation4 2.5s ease-in-out infinite;
}
.squares span:nth-child(5){
  animation: s5animation5 2.5s ease-in-out infinite;
}
.squares span:nth-child(6){
  animation: s5animation6 2.5s ease-in-out infinite;
}
.squares span:nth-child(7){
  animation: s5animation7 2.5s ease-in-out infinite;
}
.squares span:nth-child(8){
  animation: s5animation8 2.5s ease-in-out infinite;
}
@keyframes s5animation1 {

0%,100%{
   transform: translate3d(0, 0, 0);
  }
  30%,40%{
    transform: translate3d(75px,-75px,0);
  }
  80%{
    transform: translate3d(60px,60px,0) rotate(90deg);
  }
}
@keyframes s5animation2 {
  0%,100%{
    transform: translate3d(0, 0, 0);
  }
  30%,40%{
    transform: translate3d(-75px,75px,0);
  }
  80%{
    transform: translate3d(-60px,-60px,0) rotate(90deg);
  }
}
@keyframes s5animation3 {
  0%,100%{
    transform: translate3d(0, 0, 0);
  }
  30%,40%{
    transform: translate3d(75px,75px,0);
  }
  80%{
    transform: translate3d(-60px,60px,0) rotate(90deg);
  }

}
@keyframes s5animation4 {
  0%,100%{
    transform: translate3d(0, 0, 0);
  }
  30%,40%{
    transform: translate3d(-75px,-75px,0);
  }
  80%{
    transform: translate3d(60px,-60px,0) rotate(90deg);
  }
}
@keyframes s5animation5 {
  0%,100%{
    transform: translate3d(0, 0, 0);
  }
  30%,40%{
    transform: translate3d(0,-75px,0);
  }
  80%{
    transform: translate3d(0,75px,0) rotate(180deg);
  }
}
@keyframes s5animation6 {
  0%,100%{
    transform: translate3d(0, 0, 0);
  }
  30%,40%{
    transform: translate3d(75px,0,0);
  }
  80%{
    transform: translate3d(-75px,0,0) rotate(180deg);
  }
}
@keyframes s5animation7 {
  0%,100%{
    transform: translate3d(0, 0, 0);
  }
  30%,40%{
    transform: translate3d(0,75px,0);
  }
  80%{
    transform: translate3d(0,-75px,0) rotate(180deg);
  }
}
@keyframes s5animation8 {
  0%,100%{
    transform: translate3d(0, 0, 0);
  }
  30%,40%{
    transform: translate3d(-75px,0,0);
  }
  80%{
    transform: translate3d(75px,0,0) rotate(180deg);
  }
}
/*History*/
.warning{
  background-color: #ff9380 !important;
}
/*Search*/
/*.top{
  width: 100%;
}
.top button{
  position: absolute;
  display: inline-block;
}*/
.search{
  text-align: center;
}
.search input{
  font-size: 1.3em;
  min-width: 50%;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #292727;
}
.search input::placeholder{
  color: #888888;
}
.search input:focus{
  box-shadow: 0 0 20px lightgray;
}
.noResults{
  display: none;
}
.noResults p{
  text-align: center;
  font-size: 1.3em;
}