{% extends 'base.html.twig' %}
{% block body %}
    <div class="timetrackerContent">
        <h1 style="text-align: center">Zeit erfassen</h1>
        <div class="formBox">
            <form action="">
                <input type="submit" value="Stop">
            </form>
        </div>
    </div>
{% endblock %}